.banner-1-img {
    background: url(../../../assets/img/main-banners/banner-01.jpg) no-repeat;
    background-size: cover;
     /* height: 127vh; */
     height: 100%;
}

.banner-2-img {
    background: url(../../../assets/img/main-banners/banner-02.jpg) no-repeat;
    background-size: cover;
    /* height: 127vh; */
height: 100%;
}

.banner-3-img {
    background: url(../../../assets/img/main-banners/banner-03.jpg) no-repeat;
    background-size: cover;
     /* height: 127vh; */
     height: 100%;
}
.swiper-slide-thumb-active .sec-1-thumb-img-1{
    background: url(../../../assets/img/main-banners/banner-01.jpg) no-repeat;
    background-size: cover;
}
.swiper-slide-thumb-active .sec-1-thumb-img-2{
    background: url(../../../assets/img/main-banners/banner-02.jpg) no-repeat;
    background-size: cover;
}
.swiper-slide-thumb-active .sec-1-thumb-img-3{
    background: url(../../../assets/img/main-banners/banner-03.jpg) no-repeat;
    background-size: cover;
}
.swiper-slide-thumb-active .sec-1-thumb-img-1 .sec-1-thumb-wrap-num,
.swiper-slide-thumb-active .sec-1-thumb-img-2 .sec-1-thumb-wrap-num,
.swiper-slide-thumb-active .sec-1-thumb-img-3 .sec-1-thumb-wrap-num{
    -webkit-text-stroke-color: #ffffff;
}
.swiper-slide-thumb-active .sec-1-thumb-img-1 .sec-1-thumb-wrap-h5,
.swiper-slide-thumb-active .sec-1-thumb-img-2 .sec-1-thumb-wrap-h5,
.swiper-slide-thumb-active .sec-1-thumb-img-3 .sec-1-thumb-wrap-h5
{
    color: #fff;
}
.sec-1-banner-position-a {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.index-thumb-padding{
    padding: 0;
}
.gallery-thumbs .swiper-slide {
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.gallery-thumbs .swiper-slide {
    opacity: 100%;
}

.timeline-wrapper {
  position: relative;
  margin: 60px 0;
}

.timeline-line {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.timeline-item {
  width: 150px;
}

.year-circle {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  background-color: #219c97;
}

.timeline-img {
  width: 100px;
  height: 100px;
}

.align-top {
  transform: translateY(-50px); /* Move up */
}

.align-bottom {
  transform: translateY(50px); /* Move down */
}

/* Mobile: stack vertically */
@media (max-width: 768px) {
  .timeline-line {
    display: none; /* Hide snake line in mobile */
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 40px;
    transform: translateY(0) !important; /* reset zigzag */
  }

  .year-circle {
    margin-bottom: 10px;
    background-color: #219c97;
  }
  .org-banner{
  width: 100% !important;
}
}
.small{
    font-size: 1em !important;
    font-family: cursive;
    color: #9ac32f;
    font-weight: bold;

}
.org-banner{
  width: 180%;
}